[Desktop Entry]
Version=1.0
Type=Application
Name=PyRadio
GenericName=Terminal Radio Player
Comment=Curses based Radio Player
TryExec=pyradio
Exec=pyradio
Icon=pyradio
Terminal=true
Categories=Network
